body {
	background-image: url("img/splash.png");
	background-position: center bottom;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #1d1f23;
	background-attachment: fixed;
	
	text-align: center;
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.imagenGPlay{
	max-width: 300px;
}

.imagenAppStore{
	width: 255px;
	margin: 20px;
}

.imagenWebApp{
	width: 230px;
	margin: 20px;
	border: 2px solid #a6a6a6;
	border-radius: 0.5rem;
}

footer{
	color: white;
	background-color: #1d1f23;
	line-height: 1.5;
}
